@model IEnumerable<WCD_Project.Models.Product>
@{
    ViewBag.Title = "Home Page";
}
<div class="container" style="margin-top:30px">
    @using (Html.BeginForm())
    {
        <p>
            @Html.TextBox("SearchString")
            <div class="category_filter" style="margin-bottom: 5px">
                @Html.DropDownList("CategoryID", (IEnumerable<SelectListItem>)ViewBag.Categories, "Chọn danh mục", new { @class = "form-control" })
            </div>
            <input type="submit" value="Tìm kiếm" />
        </p>
    }

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4" style="margin-bottom: 20px">
                <img src="@Url.Content(@item.Thumbnail)" width="250" height="250" />
                <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                <p>Giá: @Html.DisplayFor(modelItem => item.Price) (VNĐ)</p>
                <button class="btn-success">
                    @Html.ActionLink("Thêm vào giỏ hàng", "AddToCart", "ShoppingCart", new { id = item.ProductID }, "")
                </button>
            </div>
        }
    </div>
</div>